::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  line-height: 0px;
  display: flex;
}
.nav-list > a{
    margin : 0;
    padding: 0;
}
@media (max-width: 700px) {
    .nav {
        margin-left: -35px;
    }
    .nav-list > a{
        width: 8.5vw;
    }
}


.wrapper {
  background: #1D1E20;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #6D6D6D;
  opacity: 0;
  animation: fade-in 500ms ease 200ms 1 forwards;
  position: absolute;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
}
.wrapper h1 {
  color: #fff;
  font-size: 50px;
}
.wrapper a {
  padding: 5px 15px;
  color: #6D6D6D;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #6D6D6D;
  transition: all 300ms ease;
}
.wrapper a:hover {
  color: #EBECEC;
  border: 1px solid #EBECEC;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  20% {
    opacity: 0.2;
    transform: scale(1.16);
  }
  40% {
    opacity: 0.4;
    transform: scale(1.12);
  }
  60% {
    opacity: 0.6;
    transform: scale(1.08);
  }
  80% {
    opacity: 0.8;
    transform: scale(1.04);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.wrapper {
  text-align: center;
  background-color: #1D1E20;
}

.profile {
  width: 150px;
}
.profile:hover {
  cursor: pointer;
}
.profile-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px;
}
.profile-icon {
  width: 150px;
  height: 150px;
  border: 6px solid #1f1f1f;
  transition: all 300ms ease;
  background-size: cover;
  background-position: center;
}
.profile-name {
  margin: 20px 0;
  line-height: 1.25em;
  transition: all 300ms ease;
}

.profile:hover .profile-icon {
  border: 6px solid #EBECEC;
}

.profile:hover .profile-name {
  color: #EBECEC;
}
