.rcw-launcher {
    background-color: #002766;
    img {
        margin: auto;
    }

}

.rcw-header {
    background-color: #002766 !important;
    border-bottom: 1px solid #002766;
}

.rcw-messages-container {
    background-color: #0a0f29;
}

.rcw-message-text {
    background-color: white !important;
    color: #002766;
}

.rcw-timestamp {
    color: white;
}

.rcw-sender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a2e; 
    padding: 5px;
    border-radius: 10px;
  }
  
.rcw-sender input {
    flex-grow: 1;
    border: none;
    padding: 8px;
    background-color: transparent;
    color: #d9e3f0;
    outline: none;
}

.rcw-sender button {
    background-color: transparent;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.rcw-sender button img {
    fill: white;
    margin: auto;
}

.rcw-sender button svg {
    fill: white;
    margin: auto;
}

.rcw-sender button:hover {
    background-color: #2978b5;
}

.rcw-picker-btn {
    display: none;
}

.rcw-new-message {
    background-color: #0a0f29;
    border-radius: 10px;
    padding: 16px;
    width: calc(100% - 50px);
}

.rcw-send {
    display: flex;
    align-items: center;
    justify-content: center;
}
