/*
** Layout, Text & Colors
*/
p {
  line-height: 1.5;
}

.blog-container {
  width: 100%;
  margin: 0 auto;
}

.blog-wrapper {
    width: 100%;
    margin: 0 1%;
}

/* Cards */
.card-column {
  padding: 4%;
  box-sizing: border-box;
}


.card {
  width: 92%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #eb5160;
  color: #fff;
  cursor: pointer;
  margin-bottom: 60px;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

.card h1 {
  position: relative;
  padding: 190px 0px 100px 10px;
  width: 90%;
}

.card > img {
  width: 90%;
  position: absolute;
  top: -6%;
  left: -6%;
}

.card-color{
  background-color: rgb(24, 26, 27);
}

/* The cover (expanding background) */
.cover {
  position: fixed;
  z-index: 100;
  transform-origin: 50% 50%;
}

/* The open page content */
.open-content {
  width: 100%;
  z-index: 110;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

.open-content img {
  position: relative;
  width: 50%;
  margin-left: 3%;
  margin-top: 20px;
  z-index: 5;
}

.open-content .text {
  background: #fff;
  padding: 5%;
  width: 90%;
}

.open-content .text h1,
.open-content .text p {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.close-content {
    display: block;
    position: absolute;
    right: 13px;
    top: 13px;
    width: 40px;
    height: 40px;
    z-index: 99;
}

.close-content span {
  background: #222;
  width: 30px;
  height: 6px;
  display: block;
  position: absolute;
  top: 14px;
}

.x-1 {
  transform: rotate(45deg);
}

.x-2 {
  transform: rotate(-45deg);
}

/*
** Transitions
*/

.card {
  transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
}

.border {
  transition: opacity 200ms linear, transform 200ms ease-out;
}

.card img {
  transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
}

.card h1 {
  transform: translate3d(20%, 0px, 0px);
  transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

.blog-head{
    display: flex;
}

.blog-head > h1 {
    padding: 3%;
    color: #303030;
    text-transform: uppercase;
    word-break: break-word;
    position: absolute;
    top: 8%;
    left: 52%;
    z-index: 3;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 0px;
    /* font-size: 102px; */
    text-shadow: 25px -15px rgba(25, 42, 46, 0.04);
    color: #142124;
    mix-blend-mode: overlay;
    text-align: left;
    width: 41%;
}

.blog-head > #open-content-image {
    width: 30%
}

/* Clicked card */
.card.clicked img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.clicked .border {
  opacity: 0;
  transform: scale(1.3);
}

.card.out,
.card.out img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.out h1,
.card.clicked h1 {
  transform: translate3d(20%, -40px, 0px);
  opacity: 0;
}

.cover {
  transition: transform 300ms ease-in-out;
}

.open-content {
  transition: opacity 200ms linear 0ms;
}

.open-content.open {
  opacity: 1;
  pointer-events: all;
  transition-delay: 1000ms;
  transform: translate(-1%, -90%);
  width: 100%;
  position: absolute;
}

/*
** Media Queries
*/

@media screen and (max-width: 600px) {
  .card-column {
    width: 90%;
  }

  .column-1 {
    padding-top: 0px;
  }

  .open-content {
    display: none;
  }

  .open-content img {
    margin-top: 40px;
  }

  .blog-head {
    display: block;
    height: 390px;
    overflow: scroll;
  }

  .open-content.open {
    opacity: 1;
    pointer-events: all;
    transition-delay: 1000ms;
    transform: translate(-3%, -120%);
    width: 95%;
    position: absolute;
    max-height: 75%;
  }
}
